@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;

.industries {
  display: flex;
  position: relative;
  width: 100%;
  height: 12%;
  z-index: 10;
}

.industries__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.industries__title {
  display: flex;
  width: 100%;
  max-width: 1920px;
  max-height: 190px;
  height: 9.9vw;
  padding: 0 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: clamp(45px, 3vw, 72px);
}

.industries__description {
  font-family: $hoves;
  font-size: clamp(17.5px, 1.4vw, 28px);
  line-height: clamp(27.5px, 2.2vw, 44px);
  font-weight: 300;
  text-align: center;
  color: $white;
  width: clamp(377px, 31.4vw, 603px);
}

.industries__titleLetter {
  height: 100%;
}
