@use "../../styles/colors.scss" as *;

.button {
  font-family: "TT Hoves Pro", "Arial", sans-serif;
  font-weight: 600;
  height: clamp(32.5px, 2.7vw, 52px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 39px;

  &_primary {
    background-color: $accent;
    box-shadow: 0px 8px 24px -4px $accentMain50;
    color: $white;
    font-size: clamp(10px, 0.8vw, 14px);
    line-height: clamp(12px, 9.8vw, 16px);
    transition: all 0.15s ease-in-out;

    &:hover {
      color: $accent;
      background-color: $white;
    }

    &:active {
      background-color: $white75;
    }
  }
}
