@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;

.cases {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 15%;
  width: 100%;
  align-items: center;
  z-index: 10;
  max-width: 1920px;
  margin: 0 auto;
}

.cases__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  padding: 133px 120px 100px;
}

.cases__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
}

.cases__title {
  display: flex;
  width: 100%;
  max-height: 260px;
  height: 13.7vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
}

.cases__titleLetter {
  height: 100%;
}

.cases__description {
  font-family: $hoves;
  font-weight: 400;
  font-size: clamp(17.5px, 1.4vw, 28px);
  line-height: clamp(27.5px, 2.2vw, 44px);
  color: $white;
  text-align: center;
  width: clamp(426px, 35.5vw, 624px);
}

.cases__bottom {
  display: flex;
  align-self: flex-start;
  margin-top: auto;
  max-width: 407px;
  max-height: 86px;
  height: clamp(54px, 4.5vw, 86px);
}

.cases__count {
  display: flex;
  margin-right: 4px;

  > svg {
    height: auto;
    width: clamp(17.5px, 1.47vw, 28px);
  }
}

.cases__countWrapper {
  background-image: url("./images/count_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: clamp(120px, 10vw, 191px);
  display: flex;
  justify-content: center;

  > p {
    display: block;
    margin-top: 4px;
    font-family: $akrobat;
    font-weight: 900;
    font-size: clamp(40px, 3.6vw, 70px);
    line-height: clamp(40px, 3.6vw, 70px);
    color: $white;
  }
}

.cases__box {
  background-color: $white;
  width: clamp(132px, 11.8vw, 191px);
  display: flex;
  align-items: center;
  justify-content: center;

  > p {
    text-transform: uppercase;
    font-family: $akrobat;
    font-weight: 900;
    font-size: clamp(20px, 1.6vw, 32px);
    line-height: clamp(20px, 1.6vw, 32px);
    color: $black;
    letter-spacing: 1.6px;
    white-space: pre-wrap;
  }
}
