@use "../../styles/fonts.scss" as *;
@use "../../styles/colors.scss" as *;

.welcome {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 133px 0 90px;
}

.welcome__wrapper {
  padding: 0 120px;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0%);
  opacity: 1;
}

.welcome__badge {
  background-color: $accent;
  font-size: 60px;
  line-height: 66px;
  color: $white;
  font-family: $akrobat;
  letter-spacing: 6px;
  text-transform: uppercase;
  max-width: 602px;
  min-height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
  font-weight: 900;
  margin-bottom: 48px;
}

.wrapper__title {
  margin-bottom: 56px;
  width: 100%;
  max-width: 896px;
  height: auto;
}

.welcome__description {
  font-family: $hoves;
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  max-width: 680px;
  color: $white;
}

.welcome__achives {
  display: flex;
  align-self: flex-end;
  width: 824px;
  justify-content: space-between;
}

.welcome__achivesItem {
  display: flex;
  max-width: 188px;

  &:not(:last-child) {
    margin-right: 26px;
  }

  >svg {
    margin-right: 16px;
    flex-shrink: 0;
  }

  >p {
    font-family: $hoves;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.7px;
    color: $accent;
  }
}

.welcome__bottom {
  display: flex;
  justify-content: space-between;
}

.welcome__scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: opacity 0.3s ease-in-out;

  &_hide {
    opacity: 0;
  }

  >p {
    font-family: $hoves;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: $white;
  }
}